* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background: url('./assets/images/bg_fish.png'), linear-gradient(to bottom, transparent, #d4ecff);
  /* background-size: 240px 200px; */
}
