@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
  background: url('./assets/images/bg_fish.png'), linear-gradient(to bottom, transparent, #d4ecff);
  /* background-size: 240px 200px; */
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}